# Development
PORT=8001
UMI_APP_API_BASE_URL=/api

# 以下变量建议写在项目根目录 .env（始终加载）；也可写在 .env.dev（需 UMI_ENV=dev）
UMI_APP_OMNIX_CHAT_DSN=1baf15bd3d9f231a096cd2e93e7be84b
UMI_APP_OMNIX_CHAT_BASE_URL=/api

# Production
# UMI_APP_API_BASE_URL=https://api.your-domain.com
# UMI_APP_OMNIX_CHAT_BASE_URL=https://api.your-domain.com

# Test
# UMI_APP_API_BASE_URL=http://test-api.your-domain.com
# UMI_APP_OMNIX_CHAT_BASE_URL=http://test-api.your-domain.com
